name: build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:
    inputs:
      src_branch:
        description: "Source branch to build from"
        required: true
        default: "main"
        type: string
      push_to_build_branch:
        description: "Push build artifacts to build branch"
        required: false
        default: true
        type: boolean
      build_branch:
        description: "Build branch to push artifacts to"
        required: true
        default: "build"
        type: string

permissions:
  contents: write
  pull-requests: write

env:
  LIB_NAME: algovivo
  SRC_BRANCH: ${{ inputs.src_branch || github.head_ref || github.ref_name }}
  BUILD_BRANCH: ${{ inputs.build_branch || 'build' }}
  BUILD_DIRNAME: build
  BUILD_BRANCH_REPO_DIRNAME: build.repo
  ENZYME_IMAGE: ghcr.io/juniorrojas/algovivo/llvm11-enzyme:latest

jobs:
  init-build-branch:
    runs-on: ubuntu-latest
    if: github.event_name == 'workflow_dispatch' && inputs.push_to_build_branch == true
    steps:
      - name: Clone repo
        uses: actions/checkout@v4

      - name: Create branch if it does not exist
        run: |
          git config --global user.name "GitHub Actions"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          if ! git ls-remote --exit-code --heads origin ${{ env.BUILD_BRANCH }}; then
            echo "Branch does not exist, creating and pushing..."
            git checkout --orphan ${{ env.BUILD_BRANCH }}
            git rm -rf .
            git commit --allow-empty -m "First commit"
            git push origin ${{ env.BUILD_BRANCH }}
          else
            echo "Branch already exists, skipping push."
          fi

  build-wasm:
    runs-on: ubuntu-latest
    steps:
      - name: Clone src branch
        uses: actions/checkout@v4
        with:
          ref: ${{ env.SRC_BRANCH }}

      - name: Build
        run: |
          python codegen/codegen_csrc.py
          docker run \
            -v $(pwd):/workspace \
            -w /workspace \
            ${{ env.ENZYME_IMAGE }} \
            ./build.sh

      - name: Upload WASM
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.LIB_NAME }}.wasm
          path: ${{ env.BUILD_DIRNAME }}/${{ env.LIB_NAME }}.wasm

  build-native-lib:
    strategy:
      matrix:
        include:
          - runner: ubuntu-24.04
            arch: amd64
          - runner: ubuntu-24.04-arm
            arch: arm64
    runs-on: ${{ matrix.runner }}
    steps:
      - name: Clone src branch
        uses: actions/checkout@v4
        with:
          ref: ${{ env.SRC_BRANCH }}

      - name: Build
        run: |
          python codegen/codegen_csrc.py
          mkdir -p ${{ env.BUILD_DIRNAME }}
          docker run \
            -e NATIVE=true \
            -v $(pwd):/workspace \
            -w /workspace \
            ${{ env.ENZYME_IMAGE }} \
            ./build.sh
          mv ${{ env.BUILD_DIRNAME }}/${{ env.LIB_NAME }}.so ${{ env.BUILD_DIRNAME }}/${{ env.LIB_NAME }}.${{ matrix.arch }}.so

      - name: Upload dynamic lib
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.LIB_NAME }}.${{ matrix.arch }}.so
          path: ${{ env.BUILD_DIRNAME }}/${{ env.LIB_NAME }}.${{ matrix.arch }}.so

  build-js:
    runs-on: ubuntu-latest
    steps:
      - name: Clone src branch
        uses: actions/checkout@v4
        with:
          ref: ${{ env.SRC_BRANCH }}

      - name: Set up node 22
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Build lib
        run: |
          npm ci
          npm run build

      - name: Upload lib build
        uses: actions/upload-artifact@v4
        with:
          name: build-js
          path: ${{ env.BUILD_DIRNAME }}/

  push-build:
    runs-on: ubuntu-latest
    needs: [init-build-branch, build-wasm, build-native-lib, build-js]
    if: github.event_name == 'workflow_dispatch' && inputs.push_to_build_branch == true
    steps:
      - name: Download WASM build
        uses: actions/download-artifact@v4
        with:
          name: ${{ env.LIB_NAME }}.wasm
          path: ${{ env.BUILD_DIRNAME }}/

      - name: Download dynamic lib (amd64)
        uses: actions/download-artifact@v4
        with:
          name: ${{ env.LIB_NAME }}.amd64.so
          path: ${{ env.BUILD_DIRNAME }}/native/

      - name: Download dynamic lib (arm64)
        uses: actions/download-artifact@v4
        with:
          name: ${{ env.LIB_NAME }}.arm64.so
          path: ${{ env.BUILD_DIRNAME }}/native/

      - name: Download JS build
        uses: actions/download-artifact@v4
        with:
          name: build-js
          path: ${{ env.BUILD_DIRNAME }}/

      - run: ls -l ${{ env.BUILD_DIRNAME }}

      - name: Configure git
        run: |
          git config --global user.name "GitHub Actions"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"

      - name: Clone build branch
        uses: actions/checkout@v4
        with:
          ref: ${{ env.BUILD_BRANCH }}
          path: ${{ env.BUILD_BRANCH_REPO_DIRNAME }}

      - name: Push to build branch
        run: |
          rm -rf ${{ env.BUILD_BRANCH_REPO_DIRNAME }}/${{ env.BUILD_DIRNAME }}
          cp -r build ${{ env.BUILD_BRANCH_REPO_DIRNAME }}
          cd ${{ env.BUILD_BRANCH_REPO_DIRNAME }}
          ls -la
          ls -la ${{ env.BUILD_DIRNAME }}
          git config --global user.name "GitHub Actions"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add build
          
          # check if there are any changes to commit
          if git diff --cached --quiet; then
            echo "No changes to commit. Build artifacts are already up to date."
          else
            echo "Changes detected. Committing and pushing..."
            git commit -m "Update build"
            
            # check if the push is needed by comparing with remote
            if git diff --quiet HEAD origin/${{ env.BUILD_BRANCH }}; then
              echo "Local branch is already up to date with remote. No push needed."
            else
              git push origin ${{ env.BUILD_BRANCH }}
              echo "Successfully pushed changes to ${{ env.BUILD_BRANCH }} branch."
            fi
          fi