name: test

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  ENZYME_IMAGE: ghcr.io/juniorrojas/algovivo/llvm11-enzyme:latest

jobs:
  build-wasm:
    runs-on: ubuntu-latest
    steps:
      - name: Clone repo
        uses: actions/checkout@v4

      - name: Build WASM
        run: |
          python codegen/codegen_csrc.py
          docker run \
            -e LLVM_BIN_DIR=/usr/lib/llvm-11/bin \
            -e ENZYME=/Enzyme/enzyme/build/Enzyme/LLVMEnzyme-11.so \
            -v $(pwd):/workspace \
            -w /workspace \
            ${{ env.ENZYME_IMAGE }} \
            ./build.sh

      - name: Upload WASM
        uses: actions/upload-artifact@v4
        with:
          name: algovivo.wasm
          path: build/algovivo.wasm

  test-js:
    runs-on: ubuntu-latest
    needs: build-wasm
    steps:
      - name: Clone repo
        uses: actions/checkout@v4

      - name: Download WASM build
        uses: actions/download-artifact@v4
        with:
          name: algovivo.wasm
          path: build/

      - name: Set up node 22
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Install dependencies
        run: npm ci

      - name: Test
        run: npm test

      - name: Upload lib build
        uses: actions/upload-artifact@v4
        with:
          name: build
          path: ./build